Repository DariusTarvydas00/todo-list-shareable-app: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

Build Back End:
                      steps {
                          sh "docker-compose build nestjs_backend"
                      }
                  

Build Front End:
                      steps {
                          sh "docker-compose build vue_frontend"
                      }
                  

Unit Test Back-End:
                      steps {
                          dir ("todo-list-shareable-backend"){
                            sh "npm run test:cov"
                          }
                      }
                  

Unit Test Front End:
                      steps {
                          dir ("todo-list-shareable-frontend"){
                              sh "npm run test:unit"
                          }
                      }
                  

test
  Jenkinsfile
  ewoks.js
Due: none

test
  Jenkinsfile
Due: none

test
  docker-compose.yml
Due: none

test
  Jenkinsfile
  docker-compose.yml
  grafana/scripts/ewoks.js
Due: none

test
  Jenkinsfile
  docker-compose.yml
  grafana/docker-compose-graf.yml
Due: none

test
  grafana/docker-compose-graf.yml
Due: none

test
  Jenkinsfile
  grafana/docker-compose-graf.yml
Due: none

test
  Jenkinsfile
  grafana/dashboards/performance-test-dasboard.json
  loadtests/dashboards/k6-load-testing-results_rev3.json
  loadtests/grafana-dashboard.yaml
  loadtests/grafana-datasource.yaml
  loadtests/scripts/get-fs3-request.js
  loadtests/scripts/http-authentication.js
  loadtests/scripts/script.js
  loadtests/scripts/smoke-test.js
  loadtests/scripts/test.js
Due: none

test
  docker-compose.yml
  grafana/docker-compose-graf.yml
Due: none

test
  grafana/scripts/ewoks.js
Due: none

test
  grafana/scripts/ewoks.js
  grafana/scripts/http-authentication.js
Due: none

test
  Jenkinsfile
  todo-list-shareable-backend/test/app.e2e-spec.ts
  todo-list-shareable-frontend/tests/unit/example.spec.ts
Due: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

test
  environments/test-manual.env
Due: none

test
  todo-list-shareable-backend/src/tasks/task-status.enum.ts
  todo-list-shareable-frontend/src/views/Auth.vue
Due: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

test
  Jenkinsfile
  Jenkinsfile-prod
Due: none

test
  todo-list-shareable-backend/src/auth/users.repository.ts
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/auth/model/user.ts
  todo-list-shareable-frontend/src/auth/services/auth-header.ts
  todo-list-shareable-frontend/src/auth/services/auth-service.ts
  todo-list-shareable-frontend/src/auth/services/user-service.ts
  todo-list-shareable-frontend/src/auth/user.entity.ts
  todo-list-shareable-frontend/src/index.css
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/router/index.ts
  todo-list-shareable-frontend/src/store/index.ts
  todo-list-shareable-frontend/src/tailwind.config.js
  todo-list-shareable-frontend/src/views/LoginView.vue
  todo-list-shareable-frontend/src/views/RegisterView.vue
  todo-list-shareable-frontend/src/vue.config.js
Due: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

test
  todo-list-shareable-backend/src/auth/users.repository.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/src/auth/model/user-model.ts
  todo-list-shareable-frontend/src/auth/model/user.ts
  todo-list-shareable-frontend/src/auth/services/auth-service.ts
  todo-list-shareable-frontend/src/auth/services/user-service.ts
  todo-list-shareable-frontend/src/auth/user.entity.ts
  todo-list-shareable-frontend/src/components/NavBar.vue
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/router/index.ts
  todo-list-shareable-frontend/src/store/index.ts
  todo-list-shareable-frontend/src/store/userStore.ts
  todo-list-shareable-frontend/src/views/HomeView.vue
  todo-list-shareable-frontend/src/views/LoginView.vue
  todo-list-shareable-frontend/src/views/RegisterView.vue
Due: Build Front End, Unit Test Front End

test
  todo-list-shareable-frontend/src/auth/services/user-service.ts
  todo-list-shareable-frontend/src/store/userStore.ts
Due: Build Front End, Unit Test Front End

test
  todo-list-shareable-backend/package-lock.json
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/tasks/tasks.controller.ts
  todo-list-shareable-frontend/src/auth/model/task-model.ts
  todo-list-shareable-frontend/src/auth/services/auth-header.ts
  todo-list-shareable-frontend/src/auth/services/auth-service.ts
  todo-list-shareable-frontend/src/auth/services/tasks.service.ts
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/views/HomeView.vue
  todo-list-shareable-frontend/src/views/LoginView.vue
  todo-list-shareable-frontend/src/vue.config.js
Due: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

test
  todo-list-shareable-frontend/src/views/HomeView.vue
Due: Build Front End, Unit Test Front End

test
  todo-list-shareable-backend/src/entities/task.entity.ts
  todo-list-shareable-backend/src/tasks/dto/create-task.dto.ts
  todo-list-shareable-backend/src/tasks/tasks.repository.ts
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/src/auth/services/auth-service.ts
  todo-list-shareable-frontend/src/components/NavBar.vue
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/router/index.ts
  todo-list-shareable-frontend/src/views/HomeView.vue
  todo-list-shareable-frontend/src/views/LoginView.vue
  todo-list-shareable-frontend/src/views/RegisterView.vue
Due: Build Back End, Build Front End, Unit Test Back-End, Unit Test Front End

Path conditions:
  Build Back End: (any of: todo-list-shareable-backend/src/**) or (any of: todo-list-shareable-backend/test/**)
  Build Front End: (any of: todo-list-shareable-frontend/src/**) or (any of: todo-list-shareable-frontend/tests/**)
  Unit Test Back-End: (any of: todo-list-shareable-backend/src/**) or (any of: todo-list-shareable-backend/test/**)
  Unit Test Front End: (any of: todo-list-shareable-frontend/src/**) or (any of: todo-list-shareable-frontend/tests/**)
