Repository DariusTarvydas00/todo-list-shareable-app: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back End, Build Front End, Unit Test Back-End

Path conditions:
  Build Back End: ((any of: todo-list-shareable-backend/src/**) and (any of: todo-list-shareable-backend/test/**)) or ((any of: todo-list-shareable-backend/src/**) or (any of: todo-list-shareable-backend/test/**))
  Build Front End: (any of: todo-list-shareable-frontend/src/**) or (any of: todo-list-shareable-frontend/tests/**)
  Unit Test Back-End: (any of: todo-list-shareable-backend/src/**) or (any of: todo-list-shareable-backend/test/**)

test
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/views/RegisterView.vue
Due: Build Front End

test
  todo-list-shareable-backend/src/app.controller.spec.ts
  todo-list-shareable-backend/src/app.controller.ts
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-backend/src/auth/get-user.decorator.ts
  todo-list-shareable-backend/src/auth/jwt.strategy.ts
  todo-list-shareable-backend/src/auth/users.repository.ts
  todo-list-shareable-backend/src/core/friendRequest.entity.ts
  todo-list-shareable-backend/src/core/task.entity.ts
  todo-list-shareable-backend/src/core/user.entity.ts
  todo-list-shareable-backend/src/friendlist/dto/send-friend-request.dto.ts
  todo-list-shareable-backend/src/friendlist/friendList.controller.ts
  todo-list-shareable-backend/src/friendlist/friendList.module.ts
  todo-list-shareable-backend/src/friendlist/friendList.service.ts
  todo-list-shareable-backend/src/friendlist/friendlist.repository.ts
  todo-list-shareable-backend/src/tasks/tasks.controller.ts
  todo-list-shareable-backend/src/tasks/tasks.repository.ts
  todo-list-shareable-backend/src/tasks/tasks.service.ts
  todo-list-shareable-backend/src/users/dto/get-users-filter.dto.ts
  todo-list-shareable-backend/src/users/users.controller.ts
  todo-list-shareable-backend/src/users/users.module.ts
  todo-list-shareable-backend/src/users/users.repository.ts
  todo-list-shareable-backend/src/users/users.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/users/users.controller.ts
  todo-list-shareable-backend/src/users/users.repository.ts
  todo-list-shareable-frontend/src/views/RegisterView.vue
Due: Build Back End, Build Front End, Unit Test Back-End

test
  todo-list-shareable-backend/src/friendlist/friendList.controller.ts
Due: Build Back End, Unit Test Back-End

test
  Jenkinsfile
Due: none

test
  todo-list-shareable-backend/src/friendlist/friendList.module.ts
  todo-list-shareable-backend/src/friendlist/friendList.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/friendlist/dto/send-friend-request.dto.ts
  todo-list-shareable-backend/src/friendlist/friendList.controller.ts
  todo-list-shareable-backend/src/friendlist/friendList.module.ts
  todo-list-shareable-backend/src/friendlist/friendList.service.ts
  todo-list-shareable-backend/src/friendlist/friendlist.repository.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/users/dto/get-users-filter.dto.ts
  todo-list-shareable-backend/src/users/users.controller.ts
  todo-list-shareable-backend/src/users/users.module.ts
  todo-list-shareable-backend/src/users/users.repository.ts
  todo-list-shareable-backend/src/users/users.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/.env
  todo-list-shareable-backend/src/.env
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/accounts/dto/get-accounts-filter.dto.ts
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/auth/users.repository.ts
  todo-list-shareable-backend/src/core/accounts.entity.ts
  todo-list-shareable-backend/src/core/task.entity.ts
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/views/LoginView.vue
Due: Build Back End, Build Front End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
  todo-list-shareable-backend/src/accounts/accounts.module.ts
  todo-list-shareable-backend/src/accounts/accounts.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/.env
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/.env
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back End, Unit Test Back-End

test
  docker-compose.yml
Due: none

Design /home page, NavBar, fonts
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/src/components/NavBar.vue
  todo-list-shareable-frontend/src/views/HomeView.vue
Due: Build Front End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
  todo-list-shareable-backend/src/accounts/accounts.module.ts
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/accounts/accounts.service.ts
  todo-list-shareable-backend/src/accounts/dto/get-accounts-filter.dto.ts
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/auth/auth.controller.ts
  todo-list-shareable-backend/src/auth/auth.service.ts
  todo-list-shareable-backend/src/tasks/dto/create-task.dto.ts
  todo-list-shareable-backend/src/tasks/tasks.controller.ts
  todo-list-shareable-backend/src/tasks/tasks.repository.ts
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/src/auth/model/task-model.ts
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/src/views/HomeView.vue
Due: Build Back End, Build Front End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/auth/users.repository.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
  todo-list-shareable-backend/src/accounts/accounts.module.ts
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/accounts/accounts.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-frontend/src/views/AboutView.vue
Due: Build Front End

test
  todo-list-shareable-backend/src/auth/users.repository.ts
  todo-list-shareable-frontend/src/views/LoginView.vue
  todo-list-shareable-frontend/src/views/RegisterView.vue
Due: Build Back End, Build Front End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.service.ts
  todo-list-shareable-backend/src/auth/users.repository.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.module.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/accounts/accounts.service.ts
Due: Build Back End, Unit Test Back-End

test
  todo-list-shareable-backend/src/accounts/accounts.controller.ts
  todo-list-shareable-backend/src/accounts/accounts.repository.ts
  todo-list-shareable-backend/src/accounts/accounts.service.ts
  todo-list-shareable-backend/src/core/accounts.entity.ts
Due: Build Back End, Unit Test Back-End

little ui
  todo-list-shareable-frontend/src/components/NavBar.vue
  todo-list-shareable-frontend/src/views/AboutView.vue
  todo-list-shareable-frontend/src/views/HomeView.vue
Due: Build Front End
